@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&family=Montserrat:wght@100;200;300;400;500&family=Poppins:wght@100;300;400;500&display=swap');


* {
margin: 0;
padding: 0;
border: none;
}


body {
font-family: 'Poppins', 'Gentium Book Basic', 'Montserrat', sans-serif;
font-weight: 300;
background-color: #f3f3f3;

}

/* headings and logo */

h1, h2 {
    font-family: 'Gentium Book Basic', serif;  
    letter-spacing: 4px;
    color: #252525;
}

#header-flex {
background-color: #af7381;
display: flex;
justify-content: space-between;
}


#logo {
float: left;
font-size: 200%;
margin-left: 30px;
color: #fff;
}

#logo:hover {
    Color: #490d1e;
    transition: ease-in 200ms;
    }


/* navigation links */

#navb {
float: right;
font-size: 180%;
overflow: hidden;
}

#navb, #logo {
line-height: 75px;
}


#navb li {
float: left;
list-style-type: none;
margin-right: 40px;
font-family: "Gentium Book Basic";
display: block;
font-size: 20px;
}

#navb a {
text-decoration: none;
color: #fff;
}

#navb a:hover {
Color: #490d1e;
transition: ease-in 200ms;
}


/* front image and book now botton*/

#front-section{
height: 700px;
width: 100%;
overflow: hidden;
position: relative;
}
   

.book-btn {
    color: #f8f8ff;
    background-color: #18191a;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    text-align: center;
    
    padding: 0.8em 2em;
    border-radius: 8px;
    font-size: 1.18em;
    font-weight: 400;
    word-spacing: 2px;

    
    width: 120px;
    height: 30px; 
    bottom: 200px;
    left: 50px;
    position: absolute;
  }
  
  .book-btn:hover {
    background-color:#f8f8ff;
    color: #18191a;
    transition: ease-in 300ms;
  }
  


#front-image {
height: 700px;
width: 100%;
background: url('../images/FKW68H.jpg') no-repeat center center;
padding: 170px 5px;
overflow: hidden;
}


/* About us section */

#about-section{
    margin: 20px;
    border: 1px solid white;
    border-radius: 25px;
    letter-spacing: 1px;
    padding: 25px;
    display: block;
    text-align: justify;
    background-color: #af7381;
    box-shadow: 2px 7px #490d1e; 
}

.about-header-section {
    width: 100%;  
    }

.about-header-section h2{
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 4px;
        font-family: 'Gentium Book Basic', serif;  
        color: #fff;
}


hr{
    border: 1px solid #490d1e; 
    width: 50%;
    margin-left: 350px;     
}

.about-left-content {
width: 100%;
margin-right: 10px;
color: #fff;
}
 
.about-left-content p {
    margin-top: 10px;
    }

 .facilities{
width: 1000px;
height: 450px;
background: #ccc;
margin: 120px auto;
display: flex;
}

.column{
    height: 100%;
    flex: 1;
    color: #fff;
    box-sizing: border-box;
    padding: 25px;
    position: relative;
    transition: 0.6s;
     }

     .column:nth-child(1){
        background: #ba3c60;
     }

     .column:nth-child(2){
        background: #af7381;
     }

     .column:nth-child(3){
        background: #e24e71;
     }

     .caption{
        max-width: 230px;
        font-size: 13px;
        margin: 28px 0;
        display: none;
        }

     .caption button{
      border: 1px solid #fff;
      background: transparent;
      outline: none;
      padding: 8px 18px;
      color: #fff;
      border-radius: 30px;
      margin-top: 20px;
      cursor: ponter;
      font-size: 12px;
      }

      .column img{
        width: 200px;
        position: absolute; 
        right: 0;
        bottom: 0;
        }
        
     .column:hover{
      flex-grow: 2.7;
            }

     .column:hover .caption{
        display: block; 
            }
    .column h2{
    color: #fff;

    }
     .column:hover h2{
        text-align: left;   
                }
          
                /* Gallery */
        .memories h2{
        font-size: 2rem;
        text-align: center;
        padding: 3%;
         }

        .images-gallery{
         width: 80%;
        margin: 100px auto 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 30px; 
        }
                    
         .images-gallery img{
          width: 100%;
          cursor: pointer;
         }

         .images-gallery img:hover{
          transform: scale(0.8) rotate(-15deg);
          border-radius: 20px;
          box-shadow: 0 32px 75px rgba(68,77,136, 0.2);
         }

          .cover-img{
            width: 100%;
            height: 100vh;
            background: rgba(0,0,0,0.9);
            position: fixed;
            top: 0;
            left: 0;
            display: none;        
            align-items: center;
            justify-content: center;
            z-index: 100;
            }
            
            .cover-img img{
            width: 90%;
            max-width: 500px;
            }
            
            .cover-img span{
            position: absolute;
            top: 5%;
            right: 5%;
            font-size: 30px;
            color: #fff;
            cursor: pointer;
            }


         /*Contact us page */
         .get-in-contact h2{
            font-size: 2rem;
            color: #fff;
            text-align: center;
            padding: 3%;
            }
            
            .get-in-contact h3{
                font-family: 'Gentium Book Basic', serif;  
                letter-spacing: 3px;
            }
            .get-in-contact p{
                font-size: 18px;
                font-family: 'Gentium Book Basic', serif;  
                letter-spacing: 1px;
            }


            #img-get-contact{
           /* clear: left;*/
            background: url('../images/pexels-helena-lopes.jpg');
            background-repeat:no-repeat;
            background-size: cover;
            height: 700px;
            overflow: hidden;
             }
            
              .get-in-contact{
               color: #fff;
                background-color: rgba(60, 60, 60, 0.6);
                height: 700px;
                position: relative;
                padding: 5px;
                              
              }
            

                /* footer */

                footer {
                 height: 200px;
                 background-color: #af7381;
                }

             .copyright {
                text-align: center;
                color: #fff;
                             }
                .copyright h3 {
                font-family: 'Montserrat'; 
                font-size: 16px; 
                padding:10px 0 0 1px;
                font-weight:400;
            }

            .copyright p{
            font-size: 13px;
            padding: 1px;
            }

            .charityinfo {
                background-image: url(../images/Daimler\ Foundation-Logo.png);
                background-repeat: no-repeat;
                background-position: left;
                
            }

            .charityinfo h3{
                font-family: 'Montserrat'; 
                font-size: 16px; 
                padding:10px 0 0 1px;
                font-weight:400;

            }


                .social-networks {
                 text-align: right;
                }

               .social-networks > li {
                 display: inline;       
               }

               .social-networks i {
                font-size: 135%;
                 margin: 1%;
                 padding: 1%;
                 color: #f7f6f6;
              }

             
            /* Form */

           /* .form-section {
            clear: left;
            background: url('../images/formbg.jpg');
            background-repeat:no-repeat;
            background-size: cover;
            background-position: center;
            height: 900px;
            overflow: hidden;
             }

            .signup-form {
                margin:150px 10% 0 0; 
                color: #fff;
                background-color: rgba(60, 60, 60, 0.6);
                max-width: 400px;
                position: absolute;
                left: 10%;
                padding: 30px;
              }
                
             /* Styling the form header*/
                
            /*  .signup-form > h2 {
               color: #fafafa; 
               margin-bottom: 20px;
             }
             
             /*Styling the text/email input fields*/
             
             /*.text-input {
                background: transparent;
                color: #fafafa;
                width: 100%;
                height: 25px;
                margin: 5px 0 20px 0;
                border: 1px solid #fafafa;
                border-radius: 2px;
              }
             
             /* Styling the input hover event */
             
           /*.text-input:hover{
           border-color: #f16c6b; 
           }
           
           .join-button {
    
            margin-top: 20px;
            border-radius: 2px;
            padding: 15px 32px 15px 32px;
            text-align: center;
            font-size: 100%;
            background-color: #f16c6b;
            color: #fafafa;
            display: block;
        }
        .join-button:hover {
            background-color: #fafafa;  
            color: #f16c6b;
             }
             
             
             /* Media queries */

            /* For larger to medium screens size from 1200px wide and down */
                @media screen and (max-width: 1200px) {
                #club-ethos {
                width: 65%;
                height: 1200px;
                margin: 0 auto;
                }

                #welcome {
                padding: 30px 0;
                margin: 0;
                 }

                #left-about, #right-about {
                width: 100%;
                float: left;
                padding: 0;
                 }

                #center-about {
                clear: both;
                width: 100%;
                float: left;
                padding: 0;
                 }

                 #times > div {
                    width: 100%;
                    clear: both;
                    height: 150px;
                    padding: 0;
                }



                hr {
                display: none;
                }
            }

            /* For medium screen sizes from 950px wide and down */
                @media screen and (max-width: 950px) {

                #menu {
                clear: left;
                float: left;
                margin-left: 30px;
                margin-bottom: 20px;
                line-height: 25px;
                }
                      
                #cover-text {
                left: 0;
                }

                #club-ethos {
                width: 90%;
                height: 1200px;
                margin: 0 auto;
                }

                .left-about-heading, .right-about-heading {
                width: inherit;
                }

                .left-about-heading h2, .right-about-heading h2 {
                 width: 100%;
                text-align: center;
                }

                .left-about-heading p, .right-about-heading p {
                text-align: center;
                padding: 0 20px;
                }

                #photos {
                column-count: 3;

                }
            }
            /* For small screen sizes below 800px width */

            @media screen and (max-width: 800px) {
                #photos {
               column-count: 2;

                }
            }